

@charset "UTF-8";

#t1:first-letter{
    font-size: 32px;
    color:#71ffff
}
.title{
    /*添加文本阴影*/
    /*text-shaodow:水平 垂直 模糊程度 阴影颜色*/
    text-shadow:3px 3px 2px #6b6e6a;
}

/*通过:before,::after添加的元素类型为：行内元素*/
.title::before{
    /*内容*/
    content:"这是通过:bofore添加的内容";
    font-size:12px;
    text-decoration:underline;
}
.title:hover::after{
    /*内容*/
    content:attr(data-msg);
    font-size:12px;
    text-decoration:underline;
}
.menu-list{
    /*去除项目编号*/
    list-style:none;
    padding:0;
}
.menu-list li{
    width: 120px;
    height:35px;
    background:pink;
    /*设置文本水平居中*/
    text-align: center;
    /*设置文本垂直居中*/
    /*当行高等于容器高度时，如果只有一行文本，则文本垂直居中*/
    line-height: 35px;
    /*修改元素显示方式*/
    display: inline-block;
    /*修改鼠标指针*/
    cursor:pointer;
}
.menu-list li:first-child,
.menu-list li:last-child,
.menu-list li:nth-child(3){
    color:white;
}
.menu-list li:not(:nth-child(3)) {
    text-decoration: underline;
}
.menu-list li:not(:nth-child(3)){
    background: #71ffff;
}
.menu-list li{
    position: relative;
}
.menu-list li:nth-of-type(1){
    background:red;
}
/*伪类元素为行内元素*/
.menu-list li:before{
    content:url("../images/a.jpg");
    position: absolute;
    left:0;
    top:3px;
}
[name="myForm"]>[type="radio"]:checked + label{
    font-size: 26px;
}
body{
    height:2000px;
}
body::-webkit-scrollbar{
    /*设置滚动宽度*/
    width:18px;
    background:red;
}
body::-webkit-scrollbar-thumb:vertical{
    background: greenyellow;
}

[type="text"]{
    /*修改光标颜色*/
    caret-color:red;
    padding-left: 8px;
}
/*设置占位符颜色*/
[type="text"]::-webkit-input-placeholder{
    color:palevioletred;
}