

@charset "UTF-8";
body{
    height:3000px;
}
.menu-list{
    margin:0 auto;
    width:505px;
    background:#000;
    text-align: center;
    /*解决因inline-block产生的默认间距问题*/
    font-size:0;
    /*固定定位:脱离文档流*/
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    /*调整元素在Z轴上的呈现的顺序 值越大，显示在越前面*/
    z-index:1;
}
.menu-list li{
    width:100px;
    height:30px;
    background: pink;
    color:white;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    font-size: 16px;
    margin-right:1px;
    cursor:help;
    float: left;
}
.menu-list li:hover + li{
    /*隐藏元素：脱离文档流*/
    /*display: none;*/
    /*隐藏元素：不会脱离文档流*/
    /*visibility:hidden;*/
    transition:all .35s linear;
    /*隐藏元素：不会脱离文档流*/
    opacity:0;
}
.wrap{
    width:800px;
    /*height:500px;*/
    background:pink;
    margin:100px auto;
    /*overflow: hidden;*/
}
.ball{
    width:200px;
    height:200px;
    background:#f2bf8b;
    /*当宽度=高度的时候 如果设置圆角为50%,则会形成一个圆形*/
    border-radius:50%;
    float:right;
}
/*绝对定位
    相对于离它最近的组先级素中拥有position属性的那一个进行对位
    绝对定位会脱离文档流并且可以让视图重叠，通过z-index属性可以设置元素在z轴上的显示顺序*/
.ball{
    position:relative;
}
.square{
    width:80px;
    height:80px;
    background: #ebcdf2;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%) ;
}