.hf{
    padding:40px;
    text-align: center;

}
.hf h3{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 2px;
    padding:10px;
}
.hf p{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 30px;
    white-space: pre-wrap;
    margin:10px;
}
.hf p>span{
    font-weight: bolder;
}
.hf time{
    display: block;
    line-height: 40px;
}
.hf img{
    display: block;
    margin:40px auto;
}
.hf a{
    cursor:pointer;
    color:red;
}
.hf strong{
    display: block;
    padding-top:30px;
    font-size: 15px;
}
.hf mark{
    color:#000;
    font-weight: bolder;
    background: transparent;
}
.hf .hf_4{
    padding:0 20px;
    text-align: left;
    margin-bottom:30px;
}
.hf ul{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.hf ul>li>a{
    color: black;
}