@charset "UTF-8";
*{
    padding:0;
    margin:0;
}
.nav li{
    display: none;
    color:black;
    font-size: 22px;
    line-height: 24px;
    font-weight: lighter;
}
.nav button{
    display: none;
    background: rgba(50,137,255,0.89);
    font-size: 24px;
    color:white;
    padding:3px 10px;
    margin:0 20px;
    border:0;
}
main{
    width:100%;
    padding:30px 0;
    margin:0 auto;
}
main img{
    width:180px;
    height:84px;
}
.center_top{
    width:100%;
    text-align: center;
}
.center_bottom{
    width:100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 0;
}
.center_bottom>input{
    width:220px;
    height:30px;
    border:1px solid rgba(187,187,187,0.89)
}
.center_bottom>button{
    /*top:-21px;*/
    /*right:190px;*/
    background: rgba(50,137,255,0.89);
    font-size: 14px;
    color:white;
    padding:5px 5px;

    border:0;
}
.ipone{
    width:90%;
    height:80px;
    margin:30px auto;

}
.ipone ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ipone ul li{
    list-style:none;
}
.ipone ul li a{
    text-decoration: none;
    color:rgba(187,187,187,0.89);
}
footer{
    display: none;
}