*{
    padding:0;
    margin:0;
}
body{
    background: rgba(246,246,246,0.89);
}
.one,.two,.three{
    width:100%;
    border-bottom: 1px solid rgba(173,173,173,0.89);
}
.two{
    height:750px;
}
.one,.three{
    width:100%;
    height:40px;
    padding:8px 20px 8px 50%;
    box-sizing: border-box;

}
.fl{
}
.fr{
    padding-left:80%;
    cursor: pointer;
    color:rgba(237,192,20,0.89)
}
.three img{
    cursor:pointer;
}
.header{
    width:100%;
    height:40px;
    text-align:center;
    padding:10px;
    box-sizing: border-box;
}
.me{
    text-align:center;
}
.rightBtn{
    float:right;
    right:10px;
}
textarea{
    width:100%;
    height:800px;
    outline: none;
    border:none;
    background: rgba(246,246,246,0.89);
}
.me{
    background: none;
    border:none;
    color:rgba(237,192,20,0.89)
}
.header{
    display: none;
}