@charset 'utf-8';
body{
    width:100%;
    text-align:center;
}
li{
    list-style: none;
}
fieldset{
    padding:40px 0 20px;
}
form{
    width:60%;
    margin:60px auto;
}
legend{
    font-size:26px;
    letter-spacing: 4px;
    text-shadow: 0 0 2px #000;
}
input,select{
    width: 240px;
    height: 24px;
    padding-left:6px;
    border:1px solid #aaa;
    border-radius:4px;

}
button{
    background: rgb(142, 201, 240);
    border-radius:4px;
    border:none;
    padding:5px 10px;
    color:#fff;
}
select{
    height:30px;
}
.first{
    background: rgb(142, 201, 240);
}
.title{
    width:66%;
    padding:0;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    
  
}
.title>li{
    width:25%;
    line-height:30px;
    border:1px solid #aaa;
    margin:0 -1px -1px 0;
}
.handle{
  padding:3px 6px;
  border-radius:3px;
}
.edit{
    background: #f78c35;
}
.del{
    background: #f85252
}
.search{
    margin-bottom:20px;
}