@charset"UTF-8";
.container > section{
    width:260px;
    height:300px;
    background:pink;
    margin:50px auto;
    border-radius:16px;
}
.container > section:nth-child(even){
    background: rgba(118,250,255,0.89);
}
.goBtn{
    width:28px;
    height:64px;
    background:url("../images/1.jpg");
    cursor:pointer;
    position:fixed;
    right:50px;
    bottom:50px;
}
.goBtn:hover{
    background-position:-28px 0;
}