@charset 'utf8';
.shopp-box{
    padding:20px 3px;
   margin-bottom:80px;
}

.ant-checkbox{
   width:18px;
   height:18px;
}
.fixbox{
    width:100%;
    padding:14px;
    box-sizing: border-box;
    background: #fff;
    zoom: 1;
    border-radius:12px;
    position: relative;
    margin-bottom:16px;
}
.fixbox:after{
    content:'';
    display:block;
    height:0;
    overflow: hidden;
    clear:both;
}
.left{
    float:left;
    width:50%;
    padding:18px;
}
.right{
    float:right;
    width:50%;
}
.goodstitle{
    width:100%;
    height:40px;
    overflow: hidden;
    display:-webkit-box;
   -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient:vertical;
    
}
.right>p{
    font-size:14px;
    text-align:left;
    margin-top:10px;
}
.preiceNums{
    color:#eb6e3d;
    text-align:left;
   
}
.preiceNums .pr{
    font-size:16px;
    font-weight:540
}

.left .left-img{
    width:78px;
    height:98px;
}
.goods-checkbox{
    position: absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%)
}
.allcheckbox{
    width:100%;
    padding:10px 10px;
    background: #fff;
    position: fixed;
    bottom:49px;
    left:0;
    display:flex;
    justify-content: space-between;
    line-height: 30px;
    font-size:18px;
    z-index:5;
   
}
.allcheckbox>section:last-child{
    display:flex;
    justify-content: space-around;
}
.total>span{
    color:#eb6e3d;;

}
.account,.management,.del,.cancel{
    margin-left:12px;
    padding:0 5px;
    outline:none;
    border:0;
    border-radius:7px;
    color:#fff;
    
}
.account{
    background: #eb6e3d;
}
.management{
    margin-left:12px;
    padding:0 15px;
    outline:none;
    border:0;
    border-radius:7px;
    color:#fff;
    background:orange;
}
.del{
    background:transparent;
    border:1px solid rgb(177, 19, 19);
    color:rgb(177, 19, 19);
}
.cancel{
    background:transparent;
    border:1px solid orange;
    color:orange;
}
.goodnums{
    width:95px;
    border:1px solid rgb(226, 225, 225);

}
.goodnums>button{
    padding:0 10px;
    background:transparent;
    border:0;
    outline:none;
    font-size:16px;
}
.goodnums>input{
    width:30px;
    border:0;
    text-align: center;
    font-size:15px;
}
.notice{
    width:100%;
    height:400px;
    display: flex;
    padding-left:10px;
    align-items: center;
}
.notice h3{
    font-size:17px;
    font-weight:500
}