
/*指定编码格式*/
@charset "UTF-8";

/*`*`：通配符*/
* {
    /*外边距*/
    margin:  0;
    /*内间距*/
    padding: 0;
}

html,
body {
    width: 100%; height: 100%;
}
header {
    /*宽度*/
    width: 100%;
    /*高度*/
    height: 90px;
    /*最小宽度*/
    min-width: 1200px;
    /*背景颜色*/
    /*background-color: pink;*/
    /*相对定位*/
    position: relative;
}


/*class：'.' */
/*子类选择器：'>' */
.logo-box {
    /*文本居中*/
    text-align: center;
    /*绝对定位*/
    position: absolute;
    top: 50%;
    left: 8%;
    /*transform：变形转换*/
    /*translateY：在y轴上位移*/
    transform: translateY(-50%);
}
.logo-box > img {
    height: 48px;
}

.menu-list {
    /*去除项目标号*/
    list-style: none;
    position: absolute;
    top: 0;
    right: 8%;
}

.menu-list > li {
    /*修改显示方式*/
    /*inline-block：行内块元素，具备大小，不独立成行*/
    display: inline-block;
    height: 90px;
    /*修改鼠标指针样式*/
    cursor: pointer;
    /*设置行高*/
    line-height: 90px;
    /*padding: 垂直间距 水平间距;*/
    padding: 0 20px;
    position: relative;
}

/*:after 在指定元素后面添加内容*/
.menu-list > li:after {
    /*内容*/
    content: "";
    /*修改显示方式：块级元素，具备大小，独立成行*/
    display: block;
    width: 100%;
    height: 0px;
    background-color: #9e0101;
    /*不透明度*/
    opacity: 0;
    /*添加过渡效果*/
    transition: all .25s linear ;
    position: absolute;
    left: 0;
    bottom: 8px;
}

/*:hover 鼠标悬浮在指定元素上时*/
.menu-list > li:hover:after {
    opacity: 1;
    bottom: 0;
    height: 5px;
}




.banner {
    width: 100%;
    min-width: 1200px;
    height: calc(100% - 90px);
    min-height: 500px;
    /*url("背景图片路径")*/
    /*no-repeat：不平铺*/
    background: url("../images/banner.jpg") no-repeat;
    /*设置背景图片大小*/
    /*cover：等比例缩放铺满容器*/
    background-size: cover;
}











































































































