
@charset "UTF-8";
@font-face {
    font-family: 'iconfont';  /* project id 616473 */
    src: url('//at.alicdn.com/t/font_616473_nr4smfqo3ilo9a4i.eot');
    src: url('//at.alicdn.com/t/font_616473_nr4smfqo3ilo9a4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_616473_nr4smfqo3ilo9a4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_616473_nr4smfqo3ilo9a4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_616473_nr4smfqo3ilo9a4i.svg#iconfont') format('svg');
}


/*配置*/
.iconfont{
    font:normal normal 28px "iconfont";
    color:blue;
}


.title{
    /*大小写转换，将所有英文单词转换为大写字母*/
    text-transform: uppercase;
    /*字符间距*/
    letter-spacing: 3px;
    /*文本阴影*/
    text-shadow:3px 5px 3px red;
}
.box{
    width:500px;
    height:120px;
    padding:8px;
    border:1px solid #333;
    text-align:justify;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*显示的行数*/
    -webkit-line-clamp: 6;
    overflow: hidden;
}
