
/*指定编码格式*/
@charset "UTF-8";
.fl{float: left}
.fr{float: right}
/*'*'号表示通配符*/
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
header{
    width: 100%;
    height: 90px;
    min-width: 1200px;
    /*background-color: pink;*/
    /*相对定位*/
    position: relative;
}
.logo-box{
    /*绝对定位*/
    position:absolute;
    top:50%;
    left:8%;
    /*transform：变形转换*/
    /*translateY：在Y轴上位移*/
    transform: translateY(-50%);
}
.logo-box > img{
    height: 48px;
}
.menu-list{
    /*去除项目编号*/
    list-style: none;
    position: absolute;
    top:0;
    right: 8%;
}
.menu-list>li{
    /*修改显示方式*/
    display: inline-block;
    height: 90px;
    line-height: 90px;
    padding: 0 20px;
    /*background-color: cornflowerblue;*/
    position: relative;
    /*修改鼠标指针样式*/
    cursor:pointer;
}
.menu-list>li:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: #9e0101;
    /*不透明度*/
    opacity: 0;
    /*添加过渡效果*/
    transition: all .25s linear;
    position: absolute;
    left:0;
    bottom:8px;
}
.menu-list>li:hover:after{
    opacity:1;
    bottom: 0;
    height: 5px;
}
.banner{
    width:100%;
    height:890px;
    background: url("../images/banner.jpg")no-repeat;
    background-size: cover;
    position: relative;
}
.banner .content{
    background:red;
    width:480px;
    height:160px;
    background-color: rgba(158,2,0, .5);
    text-align: center;
    padding-top:20px;
    position: absolute;
    right:350px;
    top:400px;
}
.banner .content h1{
    color:white;
    margin-top: 20px;
    font-weight: lighter;
}
.banner .content p{
    color:white;
    margin-top:20px;
    font-size: 18px;
}
.introduce{
    width: 100%;
    height:100px;
    text-align: center;
}
.introduce .in-co{
    margin:auto auto 30px auto;
    width: 160px;
    font-size: 36px;
    padding-bottom: 15px;
    padding-top: 50px;
    border-bottom:5px solid #9e0101;

}

.introduce h3{
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.about{
    width:100%;
    height:360px;
    background: red;
    margin-top:-50px;
}

.introduce .about .fl{
    width: 50%;
    height: 100%;
    background:url("../images/about.jpg")center center;
}
.introduce .about .fr {
    width: 50%;
    height: 100%;
    background: #9e0101;
    text-align: left;
    color: white;
    position: relative;
}
.introduce .about .fr p{
    padding-top:20px
}
.introduce .about .fr:before{
    content: "";
    position: absolute;
    left:-120px;
    border-right: 120px solid #9e0101;
    border-bottom: 360px solid transparent;
}
.introduce .in-box{
    width:100%;
    height:360px;
    background:url("../images/skillsbg.jpg")center center;
}
.introduce .in-box h1{
    color:white;
    padding:40px;
    text-align: center;
    font-weight: bold;
}
.in-box .in-cn{
    width:80%;
    height:50%;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
}
.in-box .SP-item{
    width:18%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color:white;
    border:1px solid #53668b;
    border-top-left-radius:10%;
    border-bottom-right-radius:10%;
    position: relative;
    overflow: hidden;
}
.in-box .infos{
    width: 100%;
    height:100%;
    font-size: 16px;
    letter-spacing: 2px;
    position: absolute;
    box-sizing:border-box;
    top:100%;
    left:0;
    opacity: 0;
    transition: all .25s linear;
    background: rgba(0,0,0,.5);
    border-radius:inherit;
}
.in-box .SP-item:hover > .infos{
    top:0;
    left:0;
    opacity: 1;
}
.in{
    width:80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.in .in-co-c{
    margin:20px 0;
    letter-spacing: 2px;
}
.in .in-co-p{
    width:100%;
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.in .in-co-p li{
    width:32%;
    overflow: hidden;
    margin:0 2px;
}
.in .in-co-p img{
    width:100%;

}
.in .in-co-p li:hover img{
    transform: scale(1.3,1.3)
}
.partner{
    width:100%;
    height:300px;
    background:url("../images/testimonialsbg.jpg") center center;
    background-size: cover;
    margin-top:40px;
    overflow: hidden;
}
.partner h1{
    font-size: 32px;
    color:white;
    padding-top: 66px;
}
.partner p{
    color:white;
    font-size:18px;
    letter-spacing: 1px;
}
.partner hr{
    width:40px;
    border:3px solid white;
    margin: 8px auto;

}
.contact{
    width:80%;
    /*height:800px;*/
    margin: 0 auto;
}
.contact .contact-c p{
    text-align: left;
    padding-left: 200px;
}
.contact-map{
    width:100%;
    height:300px;
    background: plum;
    margin:30px 0;
}
footer{
    width:100%;
    height:200px;
    background:#9e0101;
}