@charset "UTF-8";
.nav_top{
    margin:100px auto 0;
    width:620px;
    height:10px;
    background: rgba(128,0,128,0.89);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.nav{
    margin:0 auto;
    width:620px;
    height:120px;
    background: rgba(0,255,255,0.89);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    overflow: hidden;
}
form input{
    color:rgba(128,0,128,0.89);
    height:30px;
    border:none;
    border-radius:5px;
    outline: none;
    /*box-shadow: 5px 5px 2px plum inset;*/
}
form select{
    color:rgba(128,0,128,0.89);
    height:35px;
    border:1px solid black;
}
#result{
    vertical-align: middle;
    font-size: 28px;
    color:rgba(128,0,128,0.89);
}
button{
    width:30px;
    height:30px;
}