@charset "UTF-8";
.container{
    width:210px;
    height:280px;
    margin:200px auto;
    transform-style: preserve-3d;
    position: relative;
}
.face{
    width:190px;
    height:280px;
    position: absolute;
    margin:20px;

}
.one{
    background: url("../images/a.jpg");
    transform:rotateY(0deg) translateZ(288px);
}
.two{
    background: url("../images/b.jpg");
    transform:rotateY(40deg) translateZ(288px);
}
.three{
    background: url("../images/c.jpg");
    transform:rotateY(80deg) translateZ(288px);
}
.four{
    background: url("../images/d.jpg");
    transform:rotateY(120deg) translateZ(288px);
}
.five{
    background: url("../images/e.jpg");
    transform:rotateY(160deg) translateZ(288px);
}
.six{
    background: url("../images/f.jpg");
    transform:rotateY(200deg) translateZ(288px);
}
.seven{
    background: url("../images/g.jpg");
    transform:rotateY(240deg) translateZ(288px);
}
.eight{
    background: url("../images/h.jpg");
    transform:rotateY(280deg) translateZ(288px);
}
.nine{
    background: url("../images/i.jpg");
    transform:rotateY(320deg) translateZ(288px);
}
@-webkit-keyframes rotate{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(360deg);
    }
}
@keyframes rotate{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
body{
    background: black;
}
.container{
    animation:rotate 20s linear 0s infinite alternate running;
}
