
[name=myForm]{
    width: 300px;
    height: 200px;
    position:absolute;
    top:0;left:0;bottom:0;right:0;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
[name=myForm] input{
    width: 160px;
    height: 35px;
    outline:none;
    border:1px solid #333;
    box-sizing: border-box;
    padding-left:8px;
    transition:all .25s linear;
    font-size:15px;
}
[name="myForm"] input:focus{
    border-color:green;
}
.validate-code{
    display:inline-block;
    width: 120px;
    height: 35px;
    border:1px solid #eee;
    box-sizing: border-box;
    line-height: 35px;
    text-align: center;
    background: linear-gradient(to bottom right,rgba(197,255,250,0.89),rgba(244,202,255,0.89));
}