@charset "UTF-8";


.flash_wrap{
    position:relative;
}
.flash_wrap img{
    width:100%;
    height:auto;
    vertical-align:middle;
    opacity:0;
}
.flash_wrap img.active{
    opacity:1;
}
.flash_wrap img:not(:first-child){
    position:absolute;
    top:0;
    left:0;
}
.flash_wrap .idot_wrap{
    position:absolute;
    bottom:7px;
    left:50%;
    transform: translateX(-50%);
}
.flash_wrap .idot{
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    margin:0 8px;
    background:#fff;
}
.flash_wrap .idot.active{
    background:orange;
}

/*其实内容*/
.container{
    padding-top:30px;

}
.content_t{
    display:flex;
    /*是否换行*/
    flex-wrap:wrap;
    justify-content: space-between;
}
.content_t .item:not(.product){
    width:49%;
    height:300px;
    background: darkseagreen;
}
.content_t .item{
    margin-bottom:2%;
    background: brown;
    overflow:hidden;
    position:relative;
}
.content_t .product{
    width:100%;
}
.content_t .item img{
    width:100%;
    vertical-align:middle;
    transition:all .25s linear;
}
.content_t .item:hover img {
    transform:scale(1.15,1.15);

}
.content_t .item .mask{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transition: all .25s linear;
    background: linear-gradient(to top,#000 -20%,transparent);
    opacity:0;
}
.content_t .item:hover .mask{
    opacity: 1;
}
.content_t .item:hover p{
    display:block;
}
.content_t .des_infos {
    width:75%;
    color:white;
}
.content_t .des_infos h3{
    font-size: 24px;
    padding-bottom: 14px;
}
.content_t .des_infos p{
    font-size:14px;
    line-height:24px;
    letter-spacing: 1px;
    display: none;
}
.content_t .item:not(.product) .des_infos{
    position:absolute;
    left:35px;
    bottom:50px;

}
.content_t .item.product .des_infos{
    position: absolute;
    top:50px;
    left:50%;
    transform:translateX(-50%);
}

#content .syContent{
    width:100%;
    background:#fafafa;
}

#content .syContent .activity{
    width:42%;
    padding-bottom: 50px;
    box-sizing: border-box;
}
#content .syContent .activity li{
    line-height:26px;
    margin-bottom: 15px;
}
#content .syContent h3{
    font-size: 32px;
    font-weight:360;
    letter-spacing: 1px;
    padding:40px 0;
}
#content .syContent .activity a{
    text-decoration: none;
    color:black;
}
#content .syContent .activity a:hover{
    color:#111b88;
}
#content .syContent .activity time:before{
    content:url("../images/rl.png");
    padding-right:6px;
}
#content .syContent .activity time{
    font-size: 13px;
    color:#90938f;
}
#content .syContent .news{
    width:56.9%;

}
#content .news .new-i{
    width:390px;
    height:220px;
    overflow: hidden;
}

#content .syContent .news_l{
     width:48%;
    left:40px;
    overflow: hidden;

 }
#content .syContent .news_r{
    width:48%;
    right:0;

}
#content .syContent .news a{
    text-decoration: none;
    color:black;
}
#content .syContent .news a:hover{
    color:#111b88;
}
#content .syContent .news time{
    font-size: 13px;
    color:#90938f;
}
#content .news img:hover{
    transform: scale(1.3,1.3);}
#content .news .font{
    padding-top:20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
