@charset "UTF-8";
.ir_wrap{
    width:100%;
    height:360px;
    background: url("../images/ir.jpg")center center;
}
.ir_top{
    margin-top:20px;
    width:100%;
    height:800px;
}
.ir_main{
    margin-top:20px;
}

.ir_top h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
.ir_top img{
    display: block;
    margin:0 auto;
}
.ir_main{
    width:100%;
    height:700px;
    padding:70px 0;
    background: rgba(234,234,234,1);
}
.mo_l li{
    display: inline-block;

}
.mo_l li a{
    padding:0 30px;
    line-height: 20px;
    font-size:23px;
    color:black;
}
.mo_l li:first-child a{
    color:rgba(61,97,174,1);
    border-right:2px solid black;
}
.mo_r li{
    display: inline-block;
    padding-right:20px;
}
.mo_one{
    margin-top:25px;
    width:100%;
    height:625px;
    background: white;
}
.moo{
    box-sizing: border-box;
    width:100%;
    line-height:100px;
    padding:0 50px;
    border-bottom: 1px solid rgba(234,234,234,1);
}
.mool small{
    font-size: 12px;
    color:rgba(110,110,110,1);
    padding-right:10px;
}
.moo:hover p{
    color:rgba(61,97,174,1);
    transition: all .25s linear;
}
.moo:hover{
    background: rgba(234,234,234,1);
}
.moor span{
    border:2px solid rgba(234,234,234,1);
    padding:10px 25px;
    font-size: 14px;
    color:rgba(110,110,110,1);
}
.moor .hide{
    display: none;
}
.moor span img{
    display:inline;
    vertical-align: middle;
    padding-right:8px;
}
.moo:hover span{
    background:rgba(61,97,174,1) ;
    color:white;
    transition: all .25s linear;
}
.moo:hover .hide{
    display: inline-block !important;
    vertical-align: middle;
    padding-right:13px;
}
.moo:hover .moor > span > img{
    display:none;
}
.moo_b .moo_fb{
    margin:0 auto;
    text-align: center;
    width:250px;
    height:60px;
    background:rgba(61,97,174,1);
    transform: translateY(50%);
}
.moo_b img{
    vertical-align: middle;
}
.moo_b .moo_fb a{
    color:white;
    padding-top:30px;
    line-height: 60px;
}
.moo_b .moo_fb img{
    padding-right:20px;
}
.moo_b .moo_fb:hover img{
    padding-right:15px;
}
.last{
    width:100%;
    padding:50px 0;
}
.last h3{
    font-size:24px;
    font-weight: normal;
}
.last .last_img img{
    display: block;
    margin:20px auto;
}

.serve_fiv{
    width:100%;
    margin:30px auto;
    text-align: center;
}

.serve_fiv a{
    color: black;
    line-height:60px;
    font-size:18px;
    vertical-align:top;
    padding-left:30px;
}
.serve_fiv li{
    display: inline-block;
    width:30%;
}
.serve_fiv li:not(:last-child){
    border-right:1px solid rgba(205,208,204,0.98);
}
.serve_fiv li:hover a{
    color:#0046aa;
}