@charset "UTF-8";

.image_wrap{
    width:100%;
    height:360px;
    padding:0;
    margin:0 0 30px;
    background: url("../images/banner01.jpg") center center;
}
.service{

}
.service small{
    height:30px;
}
.service .serve>h1{
    font-size: 30px;
    font-weight: lighter;
    padding:60px 0 35px;
}
.h_c{
    text-align: left;
    font-weight: lighter;
    font-family: 微软雅黑;
    padding-bottom: 25px;
}
.service .serve table{
    text-align: center;
    width:100%;
    margin-bottom:45px;
    height:470px;
    border-collapse: collapse;
  }
.service .serve a{
    color:black;
}
.service .serve td:hover a{
    color:rgba(17,27,136,0.98);
}
.service .serve_t .dent{
margin-right:76.5px;
}
.serve_t>li:last-child{
    right:0;
    text-align: right;
}
.service .serve_list>li{
    display:inline-block;
    width:47%;
    margin-bottom: 20px;
    border: 1px solid rgba(205,208,204,0.98);
    line-height: 60px;
    position: relative;
}
.service .serve_list img{
    text-align:right;
    padding-right: 10px;
   line-height: 60px;
    margin-top: 20px;
}
.service .serve_list>li:before{
    content: 'Q';
    color:white;
    margin:0 20px;
    width:30px;
    height:30px;
    padding:5px 8px;
    background: rgba(0,70,170,0.98);

}
.service .serve_list .second_list>li{
   font-size:12px;
    color: rgba(144,147,143,0.98);
    line-height: 30px;
}
.service .serve_list .second_list{
    padding:30px 10px 30px 0;
}
.service .serve_t .second_list>li:before{
    content: 'A';
    color:white;
    margin:0 20px;
    padding:5px 8px;
    background:rgba(107,107,107,0.98);
}
.service .serve_list>li a{
    color:black;
}

.service .serve_list .second_list{
    display: none;
}
.service .serve_list>li:active .second_list{
    display: inline-block;
}
.serve_thr{
    width:100%;
    height:700px;
    background: url("../images/serpic_10.jpg");
}
.serve_thr .h_c{
    padding:70px 0 70px 350px;
}
.serve_thr .thr_list{
    width:740px;
    margin-left:350px;
}
.serve_thr .thr_list li{
    display: inline-block;
    width:360px;
    height:140px;

    margin:0 6px 6px 0;
}

.serve_thr .thr_list>li:nth-child(2),.serve_thr .thr_list>li:nth-child(3){
    background:rgba(245,245,245,0.98);
}
.serve_thr .thr_list>li:nth-child(1),.serve_thr .thr_list>li:nth-child(4){
    background:rgba(255,255,255,0.98);
}

.serve_fiv{
    width:100%;
    margin:30px auto;
    text-align: center;
}

.serve_fiv a{
    color: black;
  line-height:60px;
    font-size:18px;
    vertical-align:top;
    padding-left:30px;
}
.serve_fiv li{
    display: inline-block;
    width:30%;
}
.serve_fiv li:not(:last-child){
    border-right:1px solid rgba(205,208,204,0.98);
}
.serve_fiv li:hover a{
   color:#0046aa;
}
.serve_thr .thr_menu .th_img{
    width:22%;
    padding:25px 0 5px 60px;
  }
.serve_thr .th_content{
    width:37%;
    padding:45px 60px 0 15px;
}
.serve_thr .thr_menu .th_content a{

    font-size:18px;
    color:#0046aa;
}
.serve_thr .thr_menu .th_content span{
    font-size: 12px;
    color:rgba(144,147,143,0.98);
}

.serve_thr .thr_menu .one{
    width:26%;
    display: inline-block;
    padding-top:30px;
    color:black;
    text-align: center;
 }
.serve_thr .thr_menu .on{
    width:26%;
    display: inline-block;
    padding:30px 0 0 40px;
    color:black;
    text-align: center;
}
.ff a{
    font-size:14px;
    color:black;
}
aside .aside_list{
    position: fixed;
    top:230px;
    right:1px;
}
aside .aside_list li{
    background: white;
    padding:3px 5px;
    border:1px solid rgba(0,70,170,0.98);
    margin-bottom:1px;
}
aside .aside_list span{
    display: none;
}
aside .aside_list li:hover span{
    display: inline;
}