@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
main{
    width: 1100px;
    margin: 50px auto;
    border-bottom: 1px solid #eeeeee;
}
.news-list{

    height: 600px;
}
.news-list li{
    width: 90%;
    line-height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-list li .title{
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-list li .time{
    width: 18%;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    border:  1px solid #eeeeee;
    border-radius: 5px;
    margin: 15px 8px;
    cursor: pointer;
}
.btn:hover{
    background: cornsilk;
}
.infos{
    display: inline-block;
    margin: 0 120px;
    letter-spacing: 2px;
}
.infos span{
    margin: 0 20px;

}