@charset "UTF-8";
*{
    margin:0;
    padding:0;

}
header {
    width:100%;
    min-width:1180px;
    background: #ff9c75;
    text-align: center;
    height:60px;
    position:fixed;
    top:0;
    left:0;
    transition: all .25s linear;
}
.menu-list li{
    padding:18px 26px;
    color:#fff;
    font-weight: lighter;
    font-size:18px;
    display:inline-block;
    cursor:pointer;

}
.menu-list li:hover{
    background: #ffb59a;
}
.menu-list li:not(:last-child){
    border-right: 1px solid #fff;
}

.submenu-box{
    display: none;
    width:100%;
    min-width:1100px;
    height:500px;
    background:rgba(0,0,0,.5);
    font-size:36px;
    position:absolute;
    top:100%;
    left:0;


}
.menu-list li:hover .submenu-box{
    display: inline-block;
}
main{
    width:90%;
    min-width: 1100px;
    height:2000px;
    margin:50px auto 0;
    background:pink;
}
/*.fixed-menu{*/
    /*position:fixed;*/
    /*top:0;*/
    /*left:0;*/
/*}*/
.menu-hidden{
    top:-60px;
}