@charset "UTF-8";
*{
    margin:0;
    padding:0;

}
.body{
    width:100%;
}
header{
    width:58%;
    margin:0 auto;
    min-width:1200px;
}
.main{
    width:58%;
    margin:0 auto;

}
.main h1{
    font-size: 36px;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    margin:30px auto;
    letter-spacing: 2px;

}
main{
    width:58%;
    height:550px;
    margin:-50px auto 0;
    background:url("../images/bg.jpeg")no-repeat;
   background-size: 1090px 500px;
    min-width:1200px;
}
.item h3{
    font-size: 32px;
    letter-spacing: 1px;
    font-family:'LiDeBiao-Xing31153d0d9cb1c639';
}
.item p{
    font-size:25px;
    letter-spacing: 1px;
    font-family:'LiDeBiao-Xing31153d0d9cb1c639';

}
.left{
    margin:80px 0;
    padding-left:20px;
    position: relative;

    top:52px;
    left:50px;
    width:38%;
    height:400px;
    background: repeating-linear-gradient(transparent 0,transparent 69px,green 70px);line-height: 70px;
    text-align: center;

}
.right{
    width:40%;
    height:400px;
    background: repeating-linear-gradient(transparent 0,transparent 69px,green 70px);line-height: 70px;
    text-align: center;
    position: relative;
    top:-428px;
    right:-609px;
}