<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-job1</title>
  </head>
  <body>
    <div id="app">
      <form action="#">
        <fieldset>
          <legend>LOL英雄资料</legend>
          <div v-show="isShow">
              <p>英雄昵称：<input type="text" v-model="addbooks.heroName"></p>
              <p>英雄定位：<input type="text" v-model="addbooks.heroPosition"></p>
              <p>
                <label for="">英雄方位：</label>
                <select name="" id="" v-model="addbooks.orientation">
                  <option value="野区">野区</option>
                  <option value="上路">上路</option>
                  <option value="下路">下路</option>
                </select>
              </p>
              <p><button type="button" @click='add'>创建角色</button></p>
          </div>
          <div v-show="!isShow">
              <p>英雄昵称：<input type="text" v-model="editbooks.heroName"></p>
              <p>英雄定位：<input type="text" v-model="editbooks.heroPosition"></p>
              <p>
                <label for="">英雄方位：</label>
                <select name="" id="" v-model="editbooks.orientation">
                  <option value="野区">野区</option>
                  <option value="上路">上路</option>
                  <option value="下路">下路</option>
                </select>
              </p>
              <p><button type="button" @click='addEdit'>编辑角色</button></p>
          </div>
          <div class="search">
            搜索：<input type="text" @blue="search" v-model="keywords">
          </div>
          <div class="show">
            <ul class="title first">
               <li>昵称</li>
               <li>定位</li>
               <li>方位</li>
               <li>操作</li>
            </ul>
            <ul class="title " v-for="(book,index) in search()">
                <li>{{book.heroName}}</li>
                <li>{{book.heroPosition}}</li>
                <li>{{book.orientation}}</li>
                <li>
                  <button type="button" class="handle edit" @click='isShow = !isShow,edit(index)'>编辑</button>
                  <button type="button" class="handle del" @click ='del(index)'>删除</button>
                </li>
             </ul>
            
          </div>
        </fieldset>
      </form>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
