@charset "UTF-8";
 .box{
     width:100px;
     height:100px;
     margin:0 0 80px 8px;
     background:red;
     cursor: pointer;
     /*transition: background .5s ease-in,
                 border-radius .25s ease-in;*/
     transition: all .5s linear;
 }
.t1:hover{
    background: blue;
    border-radius: 50%;
}

@keyframes test{
    from{
        margin-left:8px;
        background: violet;
    }
    to{
        margin-left:600px;
        background: deepskyblue;
    }
}

.t2{
    /*动画名称 持续时间 速度曲线 延迟时间 播放次数 反向执行 动画状态 保留末帧*/
    animation:test .9s linear 0s 3 alternate running forwards;
}

@keyframes shine {
    0%{box-shadow:0 0 5px 5px yellow;}
    50%{box-shadow:0 0 20px 10px blue;}
    100%{box-shadow:0 0 5px 5px plum;}
}
.t3{
    animation:shine .9s linear 0s infinite alternate;
}

@keyframes changeColor{
    form{
        background: red;
    }
    to{
        background: blue;
    }
}
.t4:hover{
    animation:changeColor .5s linear;
}
.t5:hover{
    transform: translate(600px, -500px);

}
.t6:hover{
    transform:rotateZ(720deg);
}
.t7:hover{
    background: deepskyblue;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1) ;
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

/*
1、浏览器兼容->内核前缀
-webkit-:Google\safari
-moz-:FireFox(火狐)
-ms-:IE
-o-:Opera
2、主流五大浏览器：
(火狐、IE、谷歌、Opera、safari)
*/