@charset "UTF-8";
.contain_box{
    width:100%;
}
.containb_top{
    width:100%;
    height:460px;
    background: url("../images/xmad_15242074204819_LTKPD.jpg") no-repeat center center;
    background-size: cover;
}
.containb_top .contopl{
    background: rgba(99,99,99,0.7);
    width:20%;
   box-sizing: border-box;
    padding:30px 0;
}
.containb_top .contopl{
    position: relative;
}
.containb_top .contopr img{
    top:0;
    left:0;
    transform: scale(.8,.8);
}
.con_box .img{
    position: absolute;
    right:30px;
    width:9px;
    height:14px;
    transform: rotateY(180deg);
}
.con_box li{
    padding-left:30px;
    box-sizing: border-box;
    line-height: 40px;
    display: flex;
    align-items: center;
    transition: background-color .1s linear;
}
.con_box li:hover{
    background-color: #ff6700;
}
.con_box li a{
    color:white;
    font-size: 14px;
}
.containb_bo{
    margin:14px 0 20px;
    width:100%;
    height:170px;
    position: relative;
}
.containb_one{
    width:20%;
    height:100%;
    background: rgba(95,87,80,0.89);
}
.containb_one{
    padding-left:2px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;

}

.containb_one>div{
    text-align: center;
    vertical-align: center;
    margin:2px 2px;
    position: relative;

}
.containb_one>div a{
    width:100%;
    color:rgba(222,222,222,0.89);
    font-size: 14px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.containb_one div:hover a{
    color:white;
}
.containb_one>div:nth-child(1),.containb_one>div:nth-child(2),.containb_one>div:nth-child(3){
    border-bottom: 1px solid #bfbfbf;
}
.containb_one>div:nth-child(1),.containb_one>div:nth-child(2),.containb_one>div:nth-child(4),.containb_one>div:nth-child(5){
    border-right:1px solid #bfbfbf;
}
.containb_two{
    position: absolute;
    top:0;
    left:259px;
    width:79%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.containb_two .cont_box{
    display: inline-block;
    width:317px;
    height:100%;
}
.containb_two .cont_box img{
    width:100%;
    height:100%;
}
.center_box{
    width:100%;
    height:340px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.center_box .center_one{
    width:235px;
    height:100%;
    background: rgba(250,250,250,0.89);
    position: relative;
    border-top:1px solid red;
}
.center_one a{
    top:0;
    left:0;
    display: block;
    width:100%;
    height:100%;
    position: absolute;

}
.center_box .center_one:nth-child(2){
    background:rgba(241,237,237,0.89);
}
.center_float{
    width:79px;
    position: absolute;
    right:0;
    top:-35px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.center_float p{
    width:35px;
    height:25px;
    border:1px solid rgba(193,193,193,0.89);
    display: inline-block;
    font-size: 0;
}
.center_float .iconfo{
    font-size: 20px;
    color:#bfbfbf;
}
.center_float p:first-child{
    border-right:1px solid transparent;
    position: relative;
    right:-4px;
}
.center_float .iconfo:hover{
    font-size: 20px;
    color: #ff6700;
}
.adv{
    width:100%;
    height:100%;
    text-align: center;
}
.adv>img{
    padding:30px 0;

    height:50%;
}
.adv>h3{
    width:170px;
    height:20px;
    margin: 0 auto;
    font-size:14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.adv>small{
    color:rgba(173,173,173,0.89);
    font-size: 12px;
}
.adv>p{
    padding-top:20px;
    color:#ff6700;
    font-size: 14px;
}
.adv>p>del{
    color:rgba(173,173,173,0.89);
}
.adb{
    width:100%;
    height:100%;
    text-align: center;
}
.center_one>h4{
    margin-top:60px;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    color:rgba(229,57,52,0.89);

}
.one_img{
    display: block;
    margin:30px auto;
}
.center_one span{
    display: block;
    margin:30px auto;
    font-size: 14px;
    color: gray;
}