
@charset "UTF-8";

* {
    margin: 0; 
    padding: 0;
}

a  { text-decoration: none; }
ul { list-style: none; }

.fl { float: left; }
.fr { float: right; }
.clearFix {
    zoom: 1;
}
.clearFix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.be{
    width:100%;
}
.wrapper{
    max-width: 1230px;
    margin: 0 auto;
}

.wra{
    width:100%;
    background: rgba(255,255,255,0.89);
}







