.about_con{
    width:100%;
    height:370px;
    padding-bottom: 20px;

}
.about_con>.fl{
    padding:10px;
    width:50%;
    height:100%;
    box-sizing: border-box;
}
.labelClass{
    line-height: 40px;
    height:40px;
    font-size: 14px;
    letter-spacing: 2px;
}
.labelClass textarea{
    padding-left:10px;
    overflow: auto;
    resize: both;
}
.labelClass button{
    color:white;
    background:#5f6d7e;
    padding:5px 20px;
    border-radius:5px;
    cursor: pointer;
}
.about_con>.fl input{
    padding-left:10px;
    width:200px;
    height:25px;
    border:1px solid rgba(156,156,156,0.81);
}
.about_con>.fr{
    padding:10px;
    width:50%;
    height:100%;
    box-sizing: border-box;
}
.about_con>.fr>h4{
    font:22px normal;
}
.about_con>.fr>h5{
    font:18px normal;
    letter-spacing: 2px;
    padding:20px 0;
}
.about_con>.fr>p{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 30px;
}