.main_content{
    min-width: 880px;
    height:950px;
    position:relative;
   overflow: hidden;
}
.main_content:hover .btn-box .btn{
    opacity: 1;
}
.container{
    width:calc(8 * 100%);
    position:absolute;
    top:0;
    left: -100%;
    cursor:pointer;

}
.content-box{
    width:calc(100% / 8);
    height:100%;
    float:left;
    text-align: center;
    padding:30px 0;

    position: relative;
}
.content-box p{
    white-space: pre-wrap;
}
.content-box .img-box{
 margin-bottom: 10px

}
.content-box p{
    line-height: 40px;
    font-size: 15px;
}
.btn-box .btn{
    width:60px;
    height:60px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: all .5s linear;
    background: #b0b0b0;
    border-radius: 50%;
}
.btn-box .prev{
    left:160px;
}
.btn-box .next{
    right:160px;
}
.idot-box{
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
.idot-box .idot{
    display: inline-block;
    width:16px;
    height: 16px;
    background: #dff1fb;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.idot-box .show{
    background: #eec374;
}
.bottom_content{
    padding:20px;
    box-sizing: border-box;
}