
@charset "UTF-8";

*{
    margin:0;
    padding:0;
}
ul{list-style: none;}
a{text-decoration:none;}

/*解决浮动布局影响
1.直接设置父元素高度
2.父元素设置overflow:hidden;
3.伪类：after 清除浮动（推荐）*/
/*zoom:1兼容ie浏览器*/

.clearFix{
    zoom:1;
}
.clearFix:after{
    content:"";
    display: block;
    height:0;
    visibility:hidden;
    clear:both;
}