@charset "UTF-8";


.container{
    width:200px;
    height:200px;
    position:relative;
    margin:200px auto;
    transform-style: preserve-3d;
    /*perspective:300px;*/
    /*perspective-origin:70% 30%;*/
    transform: rotateX(15deg) rotateY(30deg);
}
.face{
    width:200px;
    height:200px;
    opacity: .7;
    backface-visibility: hidden;
    font:bolder 30px/200px "宋体";
    text-align: center;
    color:white;
    position: absolute;
    top:0;
    left:0;
    border:2px solid white;

}
.front{
    background: plum;
    transform: translateZ(100px);
}
.back{
    background: deepskyblue;
    transform: rotateY(180deg) translateZ(100px);
}
.left{
    background: rgba(251,209,255,0.98);
    transform: rotateY(-90deg) translateZ(100px);
}
.right{
    background: violet;
    transform: rotateY(90deg) translateZ(100px);
}
.top{
    background: rgba(255,220,133,0.98);
    transform: rotateX(90deg) translateZ(100px);
}
.bottom{
    background: bisque;
    transform: rotateX(-90deg) translateZ(100px);
}

@-webkit-keyframes rotate{
    from{
        transform:rotateX(0deg);
    }
    to{
        transform:rotateX(360deg);
    }
}
@keyframes rotate{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform:rotateX(360deg);
    }
}
body{
    background: black;
}
.container{
    animation:rotate 20s linear 0s infinite alternate running;
}