@charset "UTF-8";
.h_content{
    width:75%;
    max-width: 1300px;
    text-align: center;
    margin:20px auto 0;
    padding:40px;
}
.h_content img{
    width:395px;
    height:280px;
    border-radius: 10px;
    margin-top:20px;
    margin-left:20px;
}
